/* **** CSS RESET BY Eric Mayer **** *)
---------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;
font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body
{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;
border-spacing:0;box-sizing: border-box;}

/* **CODE GENERAL FOR ALL PAGE** 
-------------------------------------------------------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#cfd9df, #e2ebf0);
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    color: #000;
}

header nav>a {
    margin-left: 20px;
    font-size: 1.4em;
}

header nav a:hover{
    color: #3a6186;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

main>img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #567694;
}

main>h2 {
    margin: 1rem 0;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

main>p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.social a {
    text-decoration: none;
    color: #e2ebf0;
    font-size: 1.8rem;
    margin: 0 10px;
}

article {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 15px auto;
}

footer {
    text-align: center;
    padding: 0.8rem 0;
}

/* HELPER CLASSES
DRY - Don't repeat yourself !
-------------------------------------------------------------------------------------------- */




/* LAYOUT 
-------------------------------------------------------------------------------------------- */
/* **** my styles for home page **** */
#home-page {
    background: linear-gradient(#000c40, #2c3e50, #3a6186); /* background compatible with --->  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e2ebf0;
} 

#home-page>header a{
    color: #e2ebf0;
}
#home-page>header nav a:hover {
    color: #85a4c1;
}
#home-page>main {
    justify-content: center;
    align-items: center;
}

/* **** my styles for about page **** */
#about-page article {

}

/* **** my styles for lists blog page **** */
#lists-blog-page article h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 10px auto;
}

/* **** my styles for single blog page **** */



/* MEDIA QUERIES
-------------------------------------------------------------------------------------------- */
@media (max-width: 414px) {
    main {
        text-align: center;
    }
    header a {
        font-size: 80%;
    }
    header nav {
        font-size: 45%;
    }
}