/* **** CSS RESET BY Eric Mayer ****
-------------------------------------------------------------------------------------------- */
/*#region RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;
font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body
{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;
border-spacing:0;box-sizing: border-box;}

/* ** CODE GENERAL FOR ALL PAGES ** 
-------------------------------------------------------------------------------------------- */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: .6em;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#cfd9df, #e2ebf0);
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    align-items: center;
}

/* **** LINKS **** */
header a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    color: #000;
}

header nav>a {
    margin-left: 20px;
    font-size: 1.4em;
}

header nav>a:hover {
    color: #3a6186;
}

a {
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

/* **** TITLES **** */
main>h2 {
    font-size: 2em;
}

h2,
h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.2em;
    margin: .3em 0;
    padding: .2em 0;
}

h4 {
    font-size: .9em;
    font-style: italic;
    color: rgb(139, 154, 161);
}

main>p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.social a {
    text-decoration: none;
    color: #e2ebf0;
    font-size: 1.8rem;
    margin: 0 10px;
}

article {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: .5em 0;
}

ol {
    list-style-type: decimal;
    margin: auto 15px;
    padding: 10px 0;
}

ol>li {
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 0.8rem 0;
}

footer>h3 {
    font-size: 1em;
    margin: auto;
    font-weight: normal;
}

/* HELPER CLASSES
DRY - Don't repeat yourself !
-------------------------------------------------------------------------------------------- */
.img-styles {
    display: block;
    margin: 1.5em auto;
    box-shadow: 0px 0px 8px 0.5px #111;
    cursor: pointer;
}

.language-git{
    line-height: 1 !important;
    font-size: .9em !important;
    margin: .5em auto !important;
    width: 80% !important;
}
.language-js {
    margin: .5em auto !important;
    font-size: .9em !important;
}

/* LAYOUT 
-------------------------------------------------------------------------------------------- */
/*#region **** my styles for home page **** */
#home-page {
    background: linear-gradient(#000c40, #2c3e50, #3a6186);
    /* background compatible with --->  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e2ebf0;
}

#home-page>header a {
    text-decoration: none;
    color: #e2ebf0;
}

#home-page>header nav a:hover {
    color: #85a4c1;
}

#home-page>main {
    justify-content: center;
    align-items: center;
}
#home-page img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #567694;
}

/*#region **** my styles for about page **** */



/*#region **** my styles for lists blog page **** */



/*#region **** my styles for my blog-1 **** */


/*#region **** my styles for my blog-2 **** */


/*#region **** my styles for my blog-3 **** */
#blog-3>main article p {
    text-align: center;
}

/*#region **** my styles for my blog-4 **** */

#blog-4>main article .img-styles {
    width: 40%;
}
/* MEDIA QUERIES
-------------------------------------------------------------------------------------------- */
@media (max-width: 414px) {
    header {
        width: 90%;
        padding: 1.5rem 0;
    }
    main {
        text-align: center;
    }
    header a {
        font-size: 1.8em;
    }
    header nav {
        font-size: 70%;
    }
    article {
        margin: .5em 0;
    }

}

/* --------Menu Hamberger--------- */
#hamburger-menu {
    display: none;
}

@media (max-width: 800px) {

    /*Hide the nav*/
    #main-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    /*Nav triggers*/
    #hamburger-menu {
        display: block;
        position: relative;
        z-index: 1;
    }

    #hamburger-menu,
    #hamburger-menu a {
        width: 50px;
        height: 35px;
        overflow: hidden;
    }

    #hamburger-menu a {
        display: flex;
        justify-content: center;
    }

    #hamburger-menu img {
        width: 75%;
        background-color: #e2ebf0;
        border-radius: .2em;
    }

    .menu-is-open #open-menu {
        display: none;
    }

    /* MOBILE NAV */
    .menu-is-open {
        overflow: hidden;
    }

    .menu-is-open #main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .8);
    }

    header #main-nav a {
        color: rgb(226, 235, 240);
        margin: .5em 0;
        padding: .5em 0;
        font-size: 2.5em;
    }

    .img-styles {
        width: 100%;
        margin: 1.8em 0;
    }
}