@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?ukofm5') format('truetype'),
    url('fonts/icomoon.woff?ukofm5') format('woff'),
    url('fonts/icomoon.svg?ukofm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e903";
}
.icon-github:hover {
  color: #fff;
  box-shadow: 0 0 6px #fff;
  border-radius: 25px;
}
.icon-email:before {
  content: "\e900";
}
.icon-email:hover {
  color: rgb(255, 255, 255);
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-linkedin:hover {
  color: rgb(0, 115, 177);;
  box-shadow: 0 0 4px #3a6186;
}
.icon-facebook:before {
  content: "\e902";
}
.icon-facebook:hover {
  color: rgb(54, 109, 218);
  box-shadow: 0 0 4px #3a6186;
}
.icon-twitter:before {
  content: "\e904";
}
.icon-twitter:hover {
  color: rgb(29, 161, 242);
  box-shadow: 0 0 4px #3a6186;
}
